* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
    text-decoration: none;
    color: black;

    &:hover {
        color: #ba6838;
    }
}

img {
    width: 100%;
    height: 100%;
}



header {
    .navbar-top {
        .input-search {
            border: none;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            background-color: #fff3cd;
        }

        background-color: #fff3cd !important;

        p {
            font-weight: bold;
            font-size: 13px;

            &:hover {
                color: #ba6838;
            }

        }

        .nav-item {

            .login,
            .buy {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            i {
                font-size: 30px;
            }
        }
    }

    .nav-bottom {
        .nb1 {
            
            width: 100%;
            border: 1px solid black;
            a {
                


                &:hover {

                    color: green;
                    background-color: #ba6838;
                   
                }
            }

        }



    }

    .text1 {
        background-color: #ba6838;
        /* p {
        margin-bottom: 0px;
        padding: 10px;
        animation: rightThenLeft infinite ;
        animation-duration: 15s;
       animation-timing-function:linear;
        } */
    
        
}

    



    .carousel-indicators {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .button-btn {
            height: 90px;
            width: 220px;
        }
        
    

    }
    .carousel-indicators [data-bs-target] {
        text-indent: 0;
    }

}

main {
    .best-seller {
        .listSeller {
            height: 650px;
            overflow-y: auto;
        }

        .title-1 {
            padding: 10px;

            .title {
                font-size: 25px;
                background-color: #ba6838;
                padding: 10px;
                border-radius: 10px;
                color: white;
            }
        }
    }

    .collection {
        .title-2 {
            .title-2-2 {
                font-size: 25px;
                background-color: #ba6838;
                padding: 10px;
                border-radius: 10px;
                color: white;
            }
        }

        .collection-left {
            button {
                border-color: #ba6838 !important;
                color: #ba6838;

                &:hover {
                    background-color: #fff3cd;
                    color: white;
                }
            }

            .img-box {
                img {
                    /* left: 50%;
                    top: 50%; */
                    transform: translate(10%, 0%);
                    max-width: 80%;
                    max-height: 80%;
                    width: auto !important;
                    height: auto !important;
                    border-radius: 10px;
                }
            }
        }

        .collection-right {
            .products {
                display: flex !important;
                justify-content: start !important;
                align-items: start !important;

                .price {
                    color: green;
                }
            }

            .button-group {
                button {
                    border-color: #ba6838 !important;
                    color: #ba6838;

                    &:hover {
                        background-color: #fff3cd;
                        color: white;
                    }
                }
            }

        }
    }

    .collection-2 {
        .title-2-2 {
            font-size: 25px;
            background-color: #ba6838;
            padding: 10px;
            border-radius: 10px;
            color: white;
        }

        .collection-content {

            .card {
               
                padding: 10px;
                .card-title {
                    height: 50px;
                }

                .button-group {                 
                    .btn {
                        padding: 5px !important;
                        width: 80px;
                    }
                    

                }


                .img-fluid {
                    &:hover {
                        animation: zoomImg;
                        animation-duration: 1s;
                        animation-delay: 0s;
                    }
                }

                &:hover {
                    box-shadow: 3px 3px gainsboro;
                }



                .card-price {
                    color: green;
                }

                p {
                    font-size: 12px;
                    font-weight: bold;

                }
            }

        }
    }
}

footer {
    .social {
        a {
            margin-left: 10px;
        }
    }


}

@keyframes zoomImg {
    from {
        scale: 1;
    }

    to {
        scale: 1.2;
    }
}



@keyframes rightThenLeft {
    from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-50%);
      }
      to {
        transform: translateX(-90%);
      }
}
/* Use a media query to add a breakpoint at 768px: */
@media screen and (max-width: 768px) {
    main {
        .collection-2 {
            .collection-content {
                .card-title, .card-text , .card-price ,.button-group {
                    display: none;
                }
            }
        }
        .collection {
            .collection-right {
                .button-group {
                    display: flex;
                    justify-content: center;
                }
        
            }
        }
        
    }
    header { 
        .carousel-indicators {
            .button-btn {
                width: 100px;
                height: 50px;
                font-size: 10px;
            }
        }
        
    }
  }
  @media  screen and (max-width: 1200px) {
    main {
        .listSeller {
            display:  flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
  }
 