<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../css/box2.css">
    </head>

    <body>
        <header>
            <div class="img-head">
                <div class="container-fluid">
                  <img src="../img/hdt_banner_img.png" alt="" />
                </div>
              </div>
        </header>
        <main>
            <div class="title-main mt-3">
                
                <div class="container">
                    <div class="col-md-12 col-lg-12">
                        
                        <h3 class="text-center">SACH DONG A 2023</h3>
                    </div>
                </div>
            </div>
            <div class="main-bottom mt-5">
                <div class="container">
                    <div class="row">
                        <div class="main-left col-12 col-md-3 col-lg-3">
                            <h5>DANH MỤC SẢN PHẨM</h5>
                            <div class="list-search">
                                <p class="tt1"><a href="">TRANG CHỦ</a></p>
                                <p class="tt1"><a href="">SÁCH ĐÔNG A</a></p>
                                <ul>
                                    <li> <a href="">THIẾU NHI</a></li>
                                    <li> <a href="">TÁC PHẨM KINH ĐIỂN</a></li>
                                    <li> <a href="">VĂN HỌC NƯỚC NGOÀI</a></li>
                                    <li> <a href="">VĂN HỌC VIỆT NAM</a></li>
                                    <li><a href="">DU LỊCH</a></li>
                                    <li><a href="">LỊCH SỬ</a></li>

                                </ul>
                                <p class="tt1"><a href="">CÁC TỦ SÁCH</a></p>
                                <ul>
                                    <li><a href="">Tủ sách Văn chương & Mỹ thuật</a></li>
                                    <li><a href="">Tủ sách đông dương</a></li>
                                    <li><a href="">Tủ sách khái lược</a></li>
                                    <li><a href="">Sách decor</a></li>

                                </ul>
                                <p class="tt1"><a href="">TIN TỨC</a></p>
                                <ul>
                                    <li><a href="">Review sách</a></li>
                                    <li><a href="">Tin sách</a></li>
                                    <li><a href="">Sự kiện</a></li>
                                    <li><a href="">Tuyển dụng</a></li>
                                </ul>
                                <p class="tt1"><a href="">GIỚI THIỆU VỀ ĐÔNG A</a></p>
                                <ul>
                                    <li><a href="">Giới thiệu chung</a></li>
                                    <li><a href="">Đối tác</a></li>
                                    <li><a href="">Hệ thống phát hành</a></li>
                                    <li><a href="">Hợp tác kinh doanh</a></li>


                                </ul>
                            </div>
                        </div>
                        <div class="main-right col-12 col-md-9 col-lg-9">
                            <div class="header-main">
                                <h5>SÁCH ĐÔNG A 2023</h5>
                                
                                <div class="filter">
                                    <p class="w-75">Sắp xếp theo</p>
                                    <select class="form-select w-100 h-100" aria-label="Default select example">
                                        <option selected>Bán chạy nhất</option>
                                        <option value="1">A-Z</option>
                                        <option value="2">Thấp - cao</option>
                                        <option value="3">Cao - thấp</option>
                                      </select>
                                </div>
                               
                            </div>
                            <div class="list-book mt-3">
                                <div class="container">
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gap-5    ">
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product1.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <p class="card-title">VIỆT NAM SỬ LƯỢC</p>
                                              <p class="card-text">528,000₫</p>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product2.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <p class="card-title">Truyện cổ Grimm</p>
                                              <p class="card-text">528,000₫</p>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product3.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">Napoléon Bonaparte</p>
                                                <p class="card-text">528,000₫</p>                                            
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product1.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <p class="card-title">VIỆT NAM SỬ LƯỢC</p>
                                              <p class="card-text">528,000₫</p>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product2.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <p class="card-title">Truyện cổ Grimm</p>
                                              <p class="card-text">528,000₫</p>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product3.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">Napoléon Bonaparte</p>
                                                <p class="card-text">528,000₫</p>                                            
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product1.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <p class="card-title">VIỆT NAM SỬ LƯỢC</p>
                                              <p class="card-text">528,000₫</p>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product2.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                              <p class="card-title">Truyện cổ Grimm</p>
                                              <p class="card-text">528,000₫</p>
                                            </div>
                                        </div>
                                        <div class="card" style="width: 18rem;">
                                            <img src="../img/product3.webp" class="card-img-top" alt="...">
                                            <div class="card-body">
                                                <p class="card-title">Napoléon Bonaparte</p>
                                                <p class="card-text">528,000₫</p>                                            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
